* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
    color: #009BEF;
    margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(235,238,192,1) 0%, rgba(255,207,191,1) 100%);
}

div {
    overflow: hidden;
    padding: 0 1%;
    border-bottom: 1px solid #009BEF;
    align-items: center;
}

#main-page div {
    height: 25vh;
}

.link {
    display: flex;
}

a {
    color: #009BEF;
    text-decoration: none;
}

h1 {
    padding-top: 2%;
    white-space: nowrap;
    font-weight: 500;
    font-size: 10rem;
}

h1:hover {
    cursor: pointer;
}

p {
    font-size: 2rem;
    font-weight: 200;
}

#sub-page p {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    padding-bottom: 20px;
    width: 75%;
}

#sub-page li {
    font-size: 1.5rem;
    font-weight: 300;
    width: 75%;
}

#sub-page #descrip {
    font-size: 2rem;
    width: 25%;
}

span {
    font-style: italic;
}

h3 {
    font-size: 3rem;
    font-weight: 300;
}

#sub-page h3:first-of-type {
    padding-top: 20px;
    font-weight: 400;
}

.pulloutquote h3 {
    font-style: italic;
    padding: 40px;
}

h4 {
    font-size: 2rem;
    font-weight: 300;
    padding: 30px 0 10px 0;
}

a:hover {
    cursor: pointer;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

#main-page ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding-top: 20px;
}

#main-page li p {
    padding-top: 10px;
}

.title {
    border-bottom: none;
}

#name {
    display: inline-block;
    /* border-bottom: none; */
}

#descrip {
    padding-left: 20px;
    width: 25%;
    display: inline-block;
    /* border-bottom: none; */
}

.preview {
    display: none;
}

.expand {
    border-bottom: none;
}

.show {
    height: auto;
    display: block;
    padding: 20px;
    border-bottom: 1px solid #009BEF;
}

.show .right {
    float: right;
}

@media only screen and (max-width:1020px) {
    
    #main-page div, #sub-page div {
        height: auto;
        padding: 0 5%;
    }
    
    h1 {
        white-space: normal;
        font-size: 4rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #main-page #descrip, #sub-page #descrip {
        padding-left: 0;
        width: auto;
        font-weight: 200;
    }

    #main-page ul p {
        font-size: 1.5rem;
    }

    #main-page ul {
        padding-bottom: 10px;
    }

    #sub-page li {
        width: auto;
    }

    #sub-page p {
        width: auto;
    }
}