* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
    color: #550C39;
    margin: 0;
}

body {
    height: 100vh;
    background: #D28F95;
}

div {
    overflow: hidden;
    height: 25vh;
    padding: 0 1%;
    border-bottom: 1px solid #550C39;
    align-items: center;
}

.link {
    display: flex;
}

a {
    color: #550C39;
    text-decoration: none;
}

h1 {
    padding-top: 2%;
    white-space: nowrap;
    font-weight: 500;
    font-size: 10rem;
}

p {
    font-size: 2.25rem;
    font-weight: 200;
}

a:hover {
    cursor: pointer;
}

.left {
    /* float: left; */
    justify-content: flex-start;
}

.right {
    /* float: right; */
    justify-content: flex-end;
}

.title {
    border-bottom: none;
}

#name {
    border-bottom: none;
    width: 70%;
}

#descrip {
    width: 30%;
    border-bottom: none;
}

.preview {
    display: none;
}

.expand {
    border-bottom: none;
}

.show {
    height: auto;
    display: block;
    padding: 20px;
    border-bottom: 1px solid #550C39;
}

.show .right {
    float: right;
}

/* @media only screen and (max-width:1020px) {

    body {
        height: 100%;
    }
    
    #main-page div {
        display: block;
        padding: 5% 5%;
        height: 33.33vh;
        overflow-x: scroll;
        align-items: center;
    }

    #main-page div:first-of-type {
        height: 40vh;
    }

    #main-page div:last-of-type {
        height: 20vh;
    }

    #main-page h1 {
        white-space: normal;
        display: inline;
        word-wrap: break-word;
        font-size: 4rem;
        line-height: 4rem;
    }

    #main-page #name h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
    }

    #main-page #name p {
        width: 75%;
    }

    #main-page p {
        font-size: 1.25rem;
        padding-left: 0;
        display: block;
    }

    img {
        display: none;
    }

    .right {
        justify-content: flex-start;
    }

    #sub-page div {
        display: block;
        padding: 1% 5%;
        height: auto;
    }

    #sub-page .content {
        height: auto;
    }

    #sub-page h1 {
        padding-top: 0;
        font-size: 4rem;
        white-space: normal;
    }

    #sub-page p {
        font-size: 1rem;
    }

    #sub-page .header p {
        font-size: .75rem;
    }

} */